<!-- BUSCAR -->

<div class="buscar" [formGroup]="searchForm">
  <mat-form-field appearance="outline" class="buscar-input">
    <mat-label>Buscar por ejercicio</mat-label>
    <input matInput type="text" formControlName="criteria">
    <mat-icon matSuffix *ngIf="!searchForm.value.criteria">search</mat-icon>
    <button *ngIf="searchForm.value.criteria" matSuffix mat-icon-button aria-label="Clear" (click)="clearBusqueda()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<!-- LISTADO DE EJERCICIOS -->

<mat-list>
  <div *ngFor="let peso of pesosFiltered" style="margin: auto !important">
    <mat-list-item>
      <div matListItemTitle>{{peso.ejercicio.descripcion}}</div>
      <div matListItemLine>{{peso.peso}}</div>
      <mat-icon matListItemIcon (click)="editarPeso(peso)" class="pencil-icon">edit</mat-icon>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
</mat-list>
