<h1 class="title">Editar peso</h1>
<div mat-dialog-content>
  <p class="descripcion">Ingresa el nuevo peso para levantar en Cuádriceps</p>
  <mat-form-field appearance="outline">
    <input matInput [(ngModel)]="data.nuevoPeso" class="input-editar-peso">
  </mat-form-field>
  <small>Nuevo peso en Kg.</small>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.nuevoPeso" cdkFocusInitial class="button-editar-peso">
    Editar peso
    <mat-icon>edit</mat-icon>
  </button>
</div>
