.title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */

    letter-spacing: 0.25px;

    color: rgba(255, 255, 255, 0.87);

    margin: 16px;
}

.descripcion{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */

    letter-spacing: 0.1px;

    color: rgba(255, 255, 255, 0.87);
}

.mat-mdc-dialog-content{
    padding: 24px !important;
}